* {
    font-family: sans-serif;
    background-color: #fcfcfc;
    ;
}

.header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    overflow: hidden;
}

.logo {
    display: flex;
    align-items: center;
}

.loc {
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loc-lable {
    width: max-content;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

.loc-select {
    width: max-content;
    font-size: 13px;
    font-weight: lighter;
    background-color: transparent;
    color: #000000;
    border: none;
    outline: none;
}

.search-bar {
    border: none;
    outline: none;
    width: 90%;
}

.head-end {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.btn-login {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    margin-right: 12px;
}

.btn-cart {
    width: 112px;
    height: 52px;
    color: #ffffff;
    background-color: purple;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
}

.banergroup {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 16px;
}

.banner2 {
    width: 100%;
    object-fit: fill;
    cursor: pointer;
}

.banner3 {
    width: 100%;
    object-fit: fill;
    cursor: pointer;
}

.banner4 {
    width: 100%;
    object-fit: fill;
    cursor: pointer;
}

.productcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product {
    cursor: pointer;
    width: 130px;
    height: auto;
    object-fit: fill;
}

.tobaccocontain {
    display: flex;
    gap: 7px;
    padding: 0px 20px;
}

.timer {
    font-size: 10px;
    font-weight: 400;
    padding: 5px;
}

.card-foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.snacks {
    display: flex;
    gap: 12px;
    padding: 0px 20px;
}


.footer {
    background: #fff;
    font-family: Arial, sans-serif;
    color: #666;
}

.footer-top {
    max-width: 1200px;
    margin: auto;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: 150px 150px 140px 1fr;
}

.footer-col h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 14px;
    color: #000;
}

.footer-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-col li {
    font-size: 16px;
    line-height: 28px;
    cursor: pointer;
}

.footer-col-large {
    padding-left: 20px;
}

.footer-title {
    display: flex;
    align-items: center;
    gap: 12px;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 36px;
    margin-top: 20px;
}

/* BOTTOM BAR */
.footer-bottom {
    border-top: 1px solid #eee;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.footer-bottom p {
    font-size: 12px;
    color: #777;
}

.download {
    display: flex;
    align-items: center;
    gap: 12px;
}

.download img {
    height: 34px;
}

.socials {
    display: flex;
    justify-content: flex-end;
    gap: 14px;
}

.socials span {
    width: 40px;
    height: 40px;
    background: #000;
    color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 18px;
}